.navbar{
    display: flex;
    background-color: black;
    height: 20%;
    color: white;
}
a {
    text-decoration: none;
    color: white;
}
.navitem{
    padding:3% 1.5%;
    justify-content: center;
    align-items: center;
}
.center{
    color: white;
    background-color: black;
    margin: 0;
    padding:120px ;
    height: 360px;
}
.dshoeimg{
    width: 50%;
    height:100%;

}
.dshoedescr{
    width: 50%;
    margin-left: 15%;
}
.dmain{
    display: flex;
    margin: 5% ;
    
    
}
.dmain p{
    font-size: large;
}
.dsizel1 {
    display: flex;
}
.dsizeOption{
    height: 40px;
    width: 65px;
    border: 0.5px solid rgb(199, 199, 199);
    text-align: center;
    
    margin: auto;
    border-radius: 6px;
    
}
 .dsizel1 :hover{
    border: 1px solid black;
 }

.dbtns{
    padding: 3%;
}
.dbtn{
    padding: 5%;
    margin: 2% 0%;
    width: 95%;
    font-weight: 600;
    font-size: medium;
    border-radius: 30px;
    border: 1px solid gray;
}
#datc{
    background-color: black;
    color: white;
}
#datc :hover{
    background-color: gray;
}
#dfav{
    background-color: white;
    
}
#favc :hover{
    border: 1px solid black;
}
.spt1{
    margin-top: 12px;
    width: 50%;
}
.sbtn{
    width: 97%;
    padding: 25px 0px 25px 0px;
    color: white;
    background-color: black;
    border-radius: 0px 0px 12px 12px;
    font-weight: bold;
    font-size: large;
    
}
.smain{
    display: flex;
}
.sidebar{
    height: 100%;
    /* background-color: gray; */
    
    width: 20%;
    border-radius: 0px 12px 12px 0px;
}
.fmain{
    display: flex;
}
.sideitem{
    padding: 28px ;
    justify-content: center;
}
.fline{
    display: flex;
}
.fitem{
    
    margin: 5%;
}
.fcoll{
    display: block;
}
